@model Gulf_Hajj_and_Ummrah.Models.client_details_tbl
@{
    ViewBag.Title = "ClientDetailForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Style.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="padding-bottom: 0px;">
            <div class="row">
                <div class="col-md-2 logo">

                    <img src="~/img/form-logo.jpg" class="img-circle elevation-2" alt="User Image" style="width: 100px;">

                </div>
                <div class="col-md-7">
                    <h1 class="text-center" style="padding-top:30px; padding-left: 47px; font-family:'Segoe UI'">
                        Gulf Hajj and Umrah Service (Pvt). Ltd
                    </h1>
                </div>
                @if (@Model.picture != null)
                {
                    <div class="col-md-3" style="padding-top:0px; padding-left:120px;">
                        <div class="">
                            @*<p class="text-center">Photo</p>*@
                            <img src="~/UploadedDocs/@Model.picture" alt="" height=150 width=150 />
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-3" style="padding-top:20px; padding-left:120px;">
                        <div class="picture">
                            <p class="text-center">Photo</p>
                        </div>
                    </div>
                }



            </div>
            <div class="row">
                <div class="col-md-4">
                    <h6 style="padding-top:30px; font-family:'Segoe UI';">
                        Reg No: @Html.DisplayFor(model => model.id)
                    </h6>
                </div>
                <div class="col-md-4">
                    <h6 class="text-center" style="padding-top:30px; font-family:'Segoe UI';">
                        Voucher No: 1213112
                    </h6>
                </div>
                <div class="col-md-4">
                    <h6 class="text-right" style="padding-top:30px; font-family:'Segoe UI';">
                        Date: @Model.date.Value.ToString("d")

                    </h6>
                </div>

            </div>
        </div>
       
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="heading">Client Information Form</h4>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="card-header bg-gray">
                        <p class="subHeading">Personal Info</p>
                    </div>
                    <div class="row ">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        PP Number
                                    </th>
                                    <th>
                                        Phone Number
                                    </th>
                                    <th>
                                        Address
                                    </th>


                                    <th>
                                        Reference By
                                    </th>
                                    <th>
                                        Ref. Contact
                                    </th>
                                    <th>
                                        Dispatched to
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">


                                <tr>
                                    <td>

                                        @Html.DisplayFor(model => model.name)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.passportNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.phone_number)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.reference_by)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.reference_contact_number)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.dispatched_to)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            @if (Model.group_of_people_details_tbl.Where(x => x.isDeleted != true).Count() > 0)
            {
                <div class="row">

                    <div class="col-md-12">
                        <div class="card-header bg-gray">
                            <p class="subHeading">Name of PAX and Passport Number</p>
                        </div>
                        <div class="row ">
                            <table class="table table-bordered">
                                <thead class="text-center">
                                    <tr>
                                        <th>
                                            Sr No.
                                        </th>
                                        <th>
                                            Name of Group Members
                                        </th>
                                        <th>
                                            Passport Number
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    @foreach (var item in Model.group_of_people_details_tbl.Where(x => x.isDeleted != true))
                                    {
                                        <tr>
                                            <td>

                                                @Html.DisplayFor(model => item.id)

                                            </td>
                                            <td>

                                                @Html.DisplayFor(model => item.name)

                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.passport_number)
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            }

            @*<div class="row">

            <div class="col-md-12">
                <div class="card-header bg-gray">
                    <p class="subHeading">Package Details</p>
                </div>
                <div class="row ">
                    <table class="table table-bordered">
                        <thead class="text-center">
                            <tr>
                                <th>
                                    Package Name
                                </th>
                                <th>
                                    No. of Days
                                </th>
                                <th>
                                    Date of Departure
                                </th>
                                <th>
                                    Date of Arrival
                                </th>
                                <th>
                                    PNR
                                </th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var item in Model.package_details_tbl)
                            {
                                <tr>
                                    <td>

                                        @Html.DisplayFor(model => item.package_name)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.no_of_days)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(model => item.date_of_departure)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(model => item.date_of_arrival)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.pnr)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>*@
            <div class="row">

                <div class="col-md-12">
                    <div class="card-header bg-gray">
                        <p class="subHeading">Package Details</p>
                    </div>
                    <div class="row ">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th>
                                        Hotel Name (Makkah)
                                    </th>
                                    <th>
                                        No.of Days 
                                    </th>
                                    <th>
                                        Hotel Name (Maddinah)
                                    </th>
                                    <th>
                                        No.of Days
                                    </th>
                                    <th>
                                        Room Type
                                    </th>
                                    <th>
                                        Total Days
                                    </th>

                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.hotel_details_tbl.FirstOrDefault().hotel_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.hotel_details_tbl.FirstOrDefault().daysMakkah)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.hotel_details_tbl.FirstOrDefault().hotelNameMadina)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.hotel_details_tbl.FirstOrDefault().daysMadina)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.hotel_details_tbl.FirstOrDefault().roomtype_tbl.type_of_room)
                                    </td>
                                    <td>
                                        @ViewBag.totaldays
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Package P/H Cost
                                    </th>
                                    <th>
                                        Airline Cost
                                    </th>
                                    <th>
                                        Visa Cost
                                    </th>
                                    <th>
                                        Transport Cost
                                    </th>
                                    <th>
                                        P/H Cost with Ticket
                                    </th>
                                    <th>
                                        No. of Pax
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.package_details_tbl.FirstOrDefault().packageCost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.package_details_tbl.FirstOrDefault().airlineCost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.package_details_tbl.FirstOrDefault().visaCost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.package_details_tbl.FirstOrDefault().transportCost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.package_details_tbl.FirstOrDefault().costWithTicket)
                                    </td>
                                    <td>12</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Extra Services and Others
                                    </th>
                                    <th>
                                        <b>Grand Total</b>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.package_details_tbl.FirstOrDefault().other_details)
                                    </td>
                                    <td>12</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="card-header bg-gray">
                        <p class="subHeading">Flight Details</p>
                    </div>
                    <div class="row ">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Airline Name
                                    </th>
                                    <th>
                                        Departure From
                                    </th>

                                    <th>
                                        Arrival at
                                    </th>
                                    <th>
                                        Departure Time
                                    </th>
                                    <th>
                                        Arrival Time
                                    </th>

                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>

                                        @Model.flight_details_tbl.FirstOrDefault().date.Value.ToString("d")

                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.flight_details_tbl.FirstOrDefault().airline_tbl.airlineName)
                                    </td>
                                    <td>
                                        @ViewBag.DepartureFrom
                                    </td>
                                    <td>
                                        @ViewBag.ArrivalAt
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.flight_details_tbl.FirstOrDefault().departure_time)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.flight_details_tbl.FirstOrDefault().arrival_time)
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="card-header bg-gray">
                        <p class="subHeading">Details of Account</p>
                    </div>
                    <div class="row ">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Cheque/ Draft No.
                                    </th>
                                    <th>
                                        Total Bill
                                    </th>

                                    <th>
                                        Recieved Amount
                                    </th>
                                    <th>
                                        Balance
                                    </th>
                                    

                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                   <td>12</td>
                                   <td>12</td>
                                   <td>12</td>
                                   <td>12</td>
                                   <td>12</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
