@model IEnumerable<Gulf_Hajj_and_Ummrah.Models.client_details_tbl>

@{
    ViewBag.Title = "ClientDetails";
}

<div class="card">
    <div class="card-header bg-dark">
        <div class="row">
            <div class="col-md-6">
                <h4>Clients Info</h4>
            </div>
            <div class="col-md-6">
                <button type="button" style="margin-bottom:10px;float:right;" class="btn btn-primary" onclick="PopupForm(0)"><i class="fas fa-plus"></i> Add New</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table border="0" cellspacing="5" cellpadding="5">
            <tbody>
                <tr>
                    <td>Start Date:</td>
                    <td><input type="text" id="min" name="min"></td>
                </tr>
                <tr>
                    <td>End Date:</td>
                    <td><input type="text" id="max" name="max"></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered" id="myTable">
            <thead>
                <tr>
                    <th>
                        Reg No
                    </th>
                    <th>
                        Name
                    </th>
                    @*<th>
                        Dispatched to
                    </th>*@
                    <th>
                        Passport Number
                    </th>
                    @*<th>
                        Hotel Voucher Number
                    </th>*@
                    <th>
                        Phone Number
                    </th>
                    @*<th>
                        Address
                    </th>*@
                    <th>
                        Date
                    </th>
                    <th>
                        Shirka
                    </th>
                    <th>
                        Passport PDF
                    </th>
                    @*<th>
                        Picture
                    </th>*@
                    <th>
                        Reference By
                    </th>
                    <th>
                        Reference Contact Number
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr id="@item.id">
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        <a href="@Url.Action("ClientDetailForm","Client", new { id = item.id })" class="nav-link">
                            @Html.DisplayFor(modelItem => item.name)
                        </a>
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.dispatched_to)
        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.passportNumber)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.hotelVoucherNo)
        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.phone_number)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>*@

                    <td>
                        @*@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.date))*@
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.shirka)
                    </td>


                    @if (item.passport_doc != null && item.passport_doc.Length > 0)
                    {
                        <td>
                            <a target="_blank" href="@Url.Content("~/uploadedDocs/"+item.passport_doc)">View Document</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            No File Uploaded
                        </td>
                    }
                    @*@if (item.picture != null && item.picture.Length > 0)
        {
            <td>
                <a target="_blank" href="@Url.Content("~/uploadedDocs/"+item.picture)">View Picture</a>
            </td>
        }
        else
        {
            <td>
                No Picture Uploaded
            </td>
        }*@


                    <td>
                        @Html.DisplayFor(modelItem => item.reference_by)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.reference_contact_number)
                    </td>
                    <td>
                        <a class='btn btn-success btn-sm' onclick="PopupForm(@item.id)"><i class="fas fa-pen"></i> </a>
                        <a class='btn btn-danger btn-sm' onclick="Delete(@item.id)"><i class="fas fa-trash"></i> </a>
                        <a class='btn btn-primary btn-sm' href="@Url.Content("/GroupMembers/Index/" + item.id)"><i class="fas fa-plus"></i> </a>

                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-indigo">

                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus" -></i>Add Client Details</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalbody">

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div> 

@section scripts{


    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var v = window.location.href;
            if (v.indexOf("#") >= 0) {
                var id = v.substring(v.indexOf("#") + 1)
                var strId = "#" + id.toString();
                console.log(strId)
                $(strId).css({ backgroundColor: ' #b3bbc3' });
            }
            
           
    });

    </script>

    <script>
        var minDate, maxDate;

        // Custom filtering function which will search data in column four between two values
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = minDate.val();
                var max = maxDate.val();
                var date = new Date(data[4]);

                if (
                    (min === null && max === null) ||
                    (min === null && date <= max) ||
                    (min <= date && max === null) ||
                    (min <= date && date <= max)
                ) {
                    return true;
                }
                return false;
            }
        );
        $(document).ready(function () {
            // Create date inputs
            minDate = new DateTime($('#min'), {
                format: 'MMMM Do YYYY'
            });
            maxDate = new DateTime($('#max'), {
                format: 'MMMM Do YYYY'
            });

            // DataTables initialisation
            var table = $('#myTable').DataTable({
                columnDefs: [{
                    "defaultContent": "-",
                    "targets": "_all"
                }]
            });

            // Refilter the table
            $('#min, #max').on('change', function () {
                table.draw();
            });



        });

        function PopupForm(id) {
            if (id > 0) {
                document.getElementById("exampleModalLabel").innerHTML = "Edit Client Details";
                $("#exampleModalLabel").removeClass("fa fa-plus");
                $("#exampleModalLabel").addClass("fa fa-pen");
            }
            else {
                document.getElementById("exampleModalLabel").innerHTML = "Add Client Details";
                $("#exampleModalLabel").removeClass("fa fa-pen");
                $("#exampleModalLabel").addClass("fa fa-plus");
            }
            var url = "/Client/AddOrEdit?id=" + id;
            var formDiv = $('#modalbody');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                });
            $("#exampleModal").modal("show");
        }

        //function zoom() {
        //    document.body.style.zoom = "80%"
        //}
        function Delete(id) {

            if (confirm('Are You Sure to Delete this Record ?')) {
                
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Client")/' + id,
            success: function (data) {
                $('#myTable').closest('tr').remove();
                location.reload(true);
                //$.notify(data.message, {
                //    globalPosition: "top center",
                //    className: "success"
                //})
                
            }
        });
    }
}
    </script>
}


