@model IEnumerable<Gulf_Hajj_and_Ummrah.Models.billing_details_tbl>

@{
    ViewBag.Title = "BillingList";
}

<style>
    .my_class {
        background-color: white;
    }

    #myTable {
        font-size: 18px;
        font-weight: bold;
    }
</style>

<div class="card">
    <div class="card-header bg-dark">
        <div class="row">
            <div class="col-md-6">
                <h4>Billing Details</h4>
            </div>

        </div>
    </div>
    <div class="card-body">
        <table border="0" cellspacing="5" cellpadding="5">
            <tbody>
                <tr>
                    <td>Start Date:</td>
                    <td><input type="text" id="min" name="min"></td>
                </tr>
                <tr>
                    <td>End Date:</td>
                    <td><input type="text" id="max" name="max"></td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered" id="myTable">
            <thead>
                <tr>
                    <th>
                        Client Reg No
                    </th>
                    <th>
                        Voucher No
                    </th>
                    <th>
                        Client Name
                    </th>
                    <th>
                        Type of Payment
                    </th>
                    <th>
                        Total Amount
                    </th>
                    <th>
                        Payment Date
                    </th>
                    <th>
                        Payment Recieved
                    </th>
                    <th>
                        Pending Amount
                    </th>
                    <th>
                        Customer Registration Date
                    </th>
                    <th>
                        Total Expense
                    </th>
                    <th>
                        Profit/Loss
                    </th>
                    <th>
                        Detail of Payment
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr id="@item.id">
                    <td>
                        @Html.DisplayFor(modelItem => item.client_details_tbl.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.client_details_tbl.hotelVoucherNo)
                    </td>
                    <td>
                        <a href="@Url.Action("ClientDetails","Client")/#@item.client_details_tbl.id" class="nav-link">
                            @Html.DisplayFor(modelItem => item.client_details_tbl.name)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.payment_type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.total_amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.datePayment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.amount_recieved)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.amount_pending)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dateRegistered)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.expense)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.profit_loss)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.detail_of_payment)
                    </td>

                    <td>
                        <a class='btn btn-success btn-sm' onclick="PopupForm(@item.id)"><i class="fas fa-pen"></i>Edit </a>
                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-indigo">

                <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus" -></i>Edit Billing Details</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalbody">

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
@section scripts{

    @*<script src="~/Scripts/jquery-2.0.1.js"></script>*@

    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>


    <script>

        var minDate, maxDate;

        // Custom filtering function which will search data in column four between two values
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = minDate.val();
                var max = maxDate.val();
                var date = new Date(data[8]);

                if (
                    (min === null && max === null) ||
                    (min === null && date <= max) ||
                    (min <= date && max === null) ||
                    (min <= date && date <= max)
                ) {
                    return true;
                }
                return false;
            }
        );


        $(document).ready(function () {

            minDate = new DateTime($('#min'), {
                format: 'MMMM Do YYYY'
            });
            maxDate = new DateTime($('#max'), {
                format: 'MMMM Do YYYY'
            });

            var table = $('#myTable').DataTable({

                "createdRow": function (row, data, dataIndex, column) {
                    //console.log(data[3])
                    if (data[7] <= `0`) {
                        $(row).css({ backgroundColor: '#63d53d' });
                    }
                    else {
                        $(row).css({ backgroundColor: 'red' });
                    }
                    $(row).css({ color: 'white' });
                },


                columnDefs: [{
                    "defaultContent": "-",
                    "targets": "_all",
                    className: "my_class", "targets": [2]
                }]

            });

            $('#min, #max').on('change', function () {
                table.draw();
            });

            //$("td:contains(Cash)").css("color", "green");
            //$("td:contains(-)").css("color", "red");
        });
        function PopupForm(id) {
            if (id > 0) {
                document.getElementById("exampleModalLabel").innerHTML = "Edit Billing Details";
                $("#exampleModalLabel").removeClass("fa fa-plus");
                $("#exampleModalLabel").addClass("fa fa-pen");
            }
            else {
                document.getElementById("exampleModalLabel").innerHTML = "Edit Billing Details";
                $("#exampleModalLabel").removeClass("fa fa-pen");
                $("#exampleModalLabel").addClass("fa fa-plus");
            }
            var url = "/BillingandExpense/EditBillingDetails?id=" + id;
            var formDiv = $('#modalbody');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                });
            $("#exampleModal").modal("show");
        }

    </script>
}


